 create mode 100644 assets/vendor/bootstrap/.DS_Store
 create mode 100644 assets/vendor/bootstrap/css/.DS_Store
 create mode 100644 assets/vendor/.DS_Store
 create mode 100644 assets/vendor/bootstrap-icons/.DS_Store
 create mode 100644 assets/.DS_Store
 create mode 100644 assets/img/.DS_Store